/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/FinancialTransactionSystem.dir/BANK.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-92430b4c19db63f930f7.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-32603b7c8b17f5a95adb.json
/cmake-build-debug/FinancialTransactionSystem
/cmake-build-debug/.cmake/api/v1/reply/index-2023-08-21T09-17-57-0293.json
/cmake-build-debug/CMakeFiles/FinancialTransactionSystem.dir/main.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-FinancialTransactionSystem-Debug-438eb45ff53bb1de3eb1.json
/cmake-build-debug/transactions.txt
